<div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#list_friends" data-toggle="tab">Mes amis</a></li>
            <li class=""><a href="#pending_friends" data-toggle="tab">Demandes en attente</a></li>
            <li class=""><a href="#request_friends" data-toggle="tab">Invitations reçues</a></li>
            <li class=""><a href="#recommended_friends" data-toggle="tab">Recommendations</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade active in" id="list_friends">
                {{#if confirmed}}
                    {{> friends_table data=confirmed}}
                {{else}}
                    <p>Pas d'amis</p>
                {{/if}}
            </div>
            <div class="tab-pane fade" id="pending_friends">
                {{#if sent}}
                    {{> friends_table data=sent}}
                {{else}}
                    <p>Pas d'invitation envoyées</p>
                {{/if}}
            </div>
            <div class="tab-pane fade" id="request_friends">
                {{#if received}}
                    {{> friends_table data=received}}
                {{else}}
                    <p>Pas d'invitation reçues</p>
                {{/if}}
            </div>
            <div class="tab-pane fade" id="recommended_friends">
                {{#if recommended}}
                    {{> friends_table data=recommended}}
                {{else}}
                    <p>Pas de recommendation</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{#extends "script-block" }}
    <script src="/js/dist/bootbox.min.js" type="application/javascript"></script>
    <script src="/js/friends_table.js" type="application/javascript"></script>
{{/extends }}