{{#if flashMessages }}
    {{#each flashMessages }}
        <div class="floating_alert alert-{{ type }} fade in" onclick="$(this).fadeOut()" style="cursor:pointer">
            <span>{{ message }}</span>
        </div>
    {{/each}}
    <script type="text/javascript" defer>
      window.setTimeout(function(){

          jQuery('.floating_alert').fadeOut();

      }, 4000)
    </script>
{{/if}}