<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title text-center">{{ formTitle }}</div>
            </div>
            <div class="panel-body">
                <form role="form" method="post" action="{{ url }}" id="register_user_form">

                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" name="email" autofocus="" required placeholder="email" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <input type="text" name="birthdate" onkeydown="return false;" required id="birthdate" placeholder="birthdate" autocomplete="off" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                            <input type="text" name="firstname" required placeholder="firstName" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                            <input type="text" name="lastname" required placeholder="lastName" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <div class="input-group ms-block">
                            <span class="input-group-addon"><i class="fa fa-transgender"></i></span>
                            <input type="text" name="gender" id="gender" placeholder="gender" class="form-control"/>
                        </div>
                    </div>
                    <hr>

                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" name="username" required placeholder="username" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" name="password" required placeholder="password" class="form-control"/>
                            <span class="input-group-addon toggle-password"><i class="fa fa-eye"></i></span>
                        </div>
                    </div>


                    
                    <div class="input-group pull-right">
                            <button id="register_btn" type="submit" class="btn btn-success" >Inscription</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{#extends "style-block"}}
    {{> _form_dist_style}}
{{/extends}}


{{#extends "script-block"}}
    {{> _form_dist_script }}
    <script type="application/javascript" src="/js/users/register.js">
    </script>
{{/extends}}