<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            {{> user_side }}
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div>
            {{> create_post}}
            <hr>
            <div class="panel panel-default">
                {{> block_post}}
            </div>
        </div>
    </div>

</div>


{{#extends "script-block"}}

    {{> _form_dist_script }}
    <script src="/js/dist/tinymce/tinymce.min.js?apiKey=cn1efj5yt9is3cgztz4ljwsh7vor59brfuwst9ah96fcmc2b">
    </script>

    <script type="application/javascript" src="/js/users/view.js">
    </script>
{{/extends}}