/* ==========================================================================
   FLASH MESSAGES
   ========================================================================== */

.floating_alert {
    position: fixed;
    bottom: 3%;
    left: 54%;
    z-index: 5000;
    width: 45%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 2%;
}

/* ==========================================================================
   GENERAL
   ========================================================================== */

body {
    margin-top : 1%;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1%;

}

textarea {
    resize: vertical;
}

.panel>.panel-heading:after,.panel>.panel-heading:before{

    position: absolute;
    top: 10%;
    left: -22px;
    width: 35px;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel>.panel-heading:after{
    border-width:7px;
    border-right-color: #494952;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}



/* ==========================================================================
   Main Style
   ========================================================================== */

#search_user {
    width: 100%;
    min-width: 215px;
    max-width: 100%;
}


/* ==========================================================================
   Utils
   ========================================================================== */


.center-element {
    margin-left: auto;
    margin-right: auto;
}

.text-unstyled, .text-unstyled:hover{
    text-decoration: none;
    color : inherit;
}

.overflow-visible{
    overflow: visible !important;
}

.text-break{
    word-break: break-all;
}

.toggle-password:hover{
    cursor: pointer;
}

.soft-gray-bg{
    background-color: rgba(0,0,0,0.6);
    padding: 1%;
}

/* ==========================================================================
   Temporary ugly fixes :p
   ========================================================================== */

.input-group .form-control{
    z-index: 0 !important;
}
.ms-block{
    z-index:2;
}

.navbar-form {
    padding: 0 4px !important;
}

.ms-res-ctn{
    position:absolute;
}

.navbar-collapse.in{
    overflow: inherit;
}