/* ==========================================================================
   FLASH MESSAGES
   ========================================================================== */

.floating_alert {
    position: fixed;
    bottom: 3%;
    left: 59%;
    z-index: 5000;
    width: 42%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 2%;
}

/* ==========================================================================
   GENERAL
   ========================================================================== */

body {
    margin-top : 1%;
}