/* ==========================================================================
   FLASH MESSAGES
   ========================================================================== */

.floating_alert {
    position: fixed;
    bottom: 3%;
    left: 54%;
    z-index: 5000;
    width: 45%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 2%;
}

/* ==========================================================================
   GENERAL
   ========================================================================== */

body {
    margin-top : 1%;
}

/* ==========================================================================
   Main Style
   ========================================================================== */

#search_user {
    width: 100%;
    min-width: 215px;
    max-width: 100%;
}


/* ==========================================================================
   Utils
   ========================================================================== */


.center-element {
    margin-left: auto;
    margin-right: auto;
}

.text-unstyled, .text-unstyled:hover{
    text-decoration: none;
    color : inherit;
}

.overflow-visible{
    overflow: visible !important;
}

/* ==========================================================================
   Temporary ugly fixes :p
   ========================================================================== */

.input-group .form-control{
    z-index: 0 !important;
}
.ms-block{
    z-index:2;
}

.navbar-form {
    padding: 0 4px !important;
}

.ms-res-ctn{
    position:absolute;
}

.navbar-collapse.in{
    overflow: inherit;
}
