<footer>
    <hr>
    <div class="row">
        <div id="counter_live" class="col-xs-6 text-left">
        </div>
        <div class="col-xs-6 text-right">
            <span class="soft-gray-bg">Copyright © Chada Said {{ currentYear }}</span>
        </div>
    </div>
</footer>