<footer>
    <hr>
    <div class="row">
        <div id="counter_live" class="col-xs-4 text-left">
        </div>
        <div id="counter_comment_live" class="col-xs-4">
        </div>
        <div class="col-xs-4 text-right">
            <span class="soft-gray-bg">Copyright © {{ website }} - {{ currentYear }}</span>
        </div>
    </div>
</footer>