<form class="navbar-form navbar-right form-disable">
    <div class="form-group">
        <input type="hidden" class="form-control" id="search_user" >
    </div>
</form>

{{#extends "script-block"}}

    <script>
        (function($){

            // MS config

            var magicSearchUser = $('#search_user').magicSuggest({
                maxDropHeight: 200,
                placeholder: 'Chercher un utilisateur',
                data: '/users/search/',
                displayField: ['name'],
                hideTrigger: true,
                maxSelection: 1,
                typeDelay: 500,
                autoSelect: false,
                noSuggestionText: '',
                allowFreeEntries: false,
                renderer: function(data){
                    var img = data.avatar;
                    var link = '/users/view/' + data.username;
                    return '<a class="text-unstyled center-block" href="' + link + '">' +
                            '<img class="img-thumbnail img-responsive" ' +
                            'src="' + img + '" width="40"/> ' +
                            '<span style=";margin-left: 2%">' +
                            data.name + ' <span></a>';

                },
                selectionRenderer: function(data){
                    return null;
                },
                maxSelectionRenderer: function(value){
                    return null;
                }
            });

            // MS EVENT

            $(magicSearchUser).on('keydown', function(event, that, key){
                console.log(key.keyCode);
                if( key.keyCode === 13){
                    return false;
                }

            });

            $(magicSearchUser).on('selectionchange', function(event, that, selection){

                that.setSelection([]);
            });


        })(jQuery);
    </script>
{{/extends}}