{{#extends "style-block"}}
{{/extends}}

<div class="jumbotron center text-center">
    <h1>Page non trouvée</h1>
        <small><span class=" text-warning">Erreur 404</span></small>
    <br>
    <p> Hey, cette page n'existe plus ou n'a tout simplement jamais existée</p>
    <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Retour à l'accueil</a>
</div>

{{#extends "script-block"}}
{{/extends}}
