<!--{{#extends "head-block"}}-->
    <!--<link rel="stylesheet" href="public/css/main.css"/>-->
<!--{{/extends}}-->
<div class="jumbotron center text-center">
    <h1>Oops, problème serveur</h1>
        <small><span class="text-danger">Erreur 500</span></small>
    <br>
    <p>Un devs à du péter quelque chose, mais on est sur le coup !</p>
    <p><small>En vrai je suis tout seul :p</small></p>
</div>