
<div class="jumbotron center text-center">
    <h1>A propos</h1>

    <p> Ce site a été développé dans le cadre d'un projet lors de ma formation ifocop.</p>
    <p> Pour toute question veuillez utiliser le formulaire de la page contact.</p>
    <p> J'espères que le jeu vous plait!</p>
</div>
