<div class="chat_container">
    <div class="col-xs-12 message_section">
        <div class="row">
            <div class="new_message_head">
                <div class="text-center">
                    Chat
                </div>
            </div>

            <div class="chat_area">
                <ul class="list-unstyled">
                </ul>
            </div>
            <div class="message_write">
                <textarea id="message_chat" class="form-control" placeholder="type a message"></textarea>
                <div class="clearfix"></div>
                <div class="chat_bottom">
                    <button id="submit_chat" class="pull-right btn btn-success">
                        Send</button>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

{{#extends "style-block" }}
    <link rel="stylesheet" href="/css/chat.css">
{{/extends }}

{{#extends "script-block" }}
    <script src="/js/chat.js" type="application/javascript"></script>
{{/extends }}
