<div class="chat_container">
    <div class="col-xs-12 message_section">
        <div class="row">
            <div class="new_message_head">
                <div class="text-center">
                    Chat
                </div>
            </div>

            <div class="chat_area">
                <ul class="list-unstyled">
                    <li class="left clearfix">
                     <span class="chat-img1 pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                        <div class="chat-body1 clearfix">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                            <div class="chat_time pull-right">09:40PM</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="message_write">
                <textarea class="form-control" placeholder="type a message"></textarea>
                <div class="clearfix"></div>
                <div class="chat_bottom">
                    <button class="pull-right btn btn-success">
                        Send</button>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

{{#extends "style-block" }}
    <link rel="stylesheet" href="/css/chat.css">
{{/extends }}

{{#extends "script-block" }}
    <script src="/js/chat.js" type="application/javascript"></script>
{{/extends }}
