<div class="panel panel-default">
    <div class="panel-body">
        <h4>
            <strong>
                <i class="fa fa-newspaper-o">&nbsp;</i><label for="comment">Nouveau commentaire :</label>
            </strong>
        </h4>
        <hr>

        <div class="form-group">
            <div>
                  <textarea
                          name="description" data-target="{{ userData._id }}" id="comment" maxlength="300" minlength="10" required class="hidden tmce">
            </textarea>
            </div>
        </div>

        <div class="form-group clearfix">
            <div class="input-group pull-right">
                <button id="publish_btn" type="submit" class="btn btn-success" disabled >Publier</button>
            </div>
        </div>

    </div>
</div>

{{#extends "script-block"}}

    <script type="application/javascript">

    </script>

{{/extends}}