<p>
   Vous recevez cet email car vous ou quelqu'un d'autre a demandé un reset de mot de passe.
</p>
<p>
    Cliquez sur le lien suivant pour confirmer et reset votre mot de passe
</p>
<p>
    <a href="{{ link }}">Reset password</a>
</p>
<p>
    Si le lien n'apparait pas correctement utiliser le lien suivant :
    <br>
    {{ link }}
</p>
<p>
    Si vous n'avez pas demandé un reset de mot de passe veuillez ignorer cet email.
</p>