<div>
   Vous venez de recevoir une demande d'ami de {{ fromUser.username }}
</div>
<div>
    Veuillez vous rendre sur le lien suivant pour accepter ou refuser la demande
    <p>{{ linkFriends }}</p>
</div>